#emphasis {
	font-style: italic;
}

body {
	color: white;
	text-align: center;
	background-image: : url("https://drive.google.com/file/d/0B6ZrPRKAyr1Na0x3RWpEV2QyY28/view?usp=sharing");
	background-size: cover;
}
#box {
	background: #fff;
	align-content: center;
}

img {
	padding: 10px
}
h1 {
	font: "Times New Roman";
}

h2 {
	font: Arial;
}

div {
	height: 1000px;
	width:1000px;
	border: 2px solid rgba(0,0,0,.2);
	display: inline-block;
	margin: 20px;
	margin-top: 20px;

}

