/*.*/


/*#hero h1,
{line-height:1.2em}

#hero
{text-shadow:0 2px 0 rgba(0,0,0,.24)}*/
/*.box {
	margin:0 auto;
	max-width: 1000px;
	width:92%*/
/*}*/

body {
  text-align:left;
  background: url("http://compellingcree.com/wp-content/uploads/2017/02/artistglasses1.jpg")
  /*background-size: cover;*/
  center top no-repeat;
  background-size: cover;
  color: #000;
  font-family: Helvetica;
}

/*div {
	height: 549px;
	width: 1200px;
	border: 2px solid transparent;
	display: inline-block;
	margin: 0px


}*/
/*div img {
	background:url(http://compellingcree.com/wp-content/uploads/2017/02/artistglasses1.jpg) 
	background: center top no-repeat; /*#178cb5;
	background-size:cover;
	/*color:#fff;
	margin:0*/
/*}**//*/
/*#hero .box {
	box-sizing:border-box;
	padding:3em 0 2em
}
}#hero .box{
	padding-top:2em;
	width:90%
}*/


/*#hero .box{box-sizing:border-box;padding:3em 0 2em}

#hero h1{font-size:2.54em;margin:0 33% 0 0}
#hero, #hero p{font-family:"Helvetica Neue",Helvetica,sans-serif;line-height:1.4em}

#hero p{font-size:1.17em;font-weight:200;margin:.5em 40% 0 0}

#hero p{font-size:1em}*/







/*h1 {
	font: "Times New Roman";
}

h2 {
	font: Arial;
}*/





