#emphasis {
	font-style: italic;
}

body {
	color: rgba(0,0,0,.7);
	text-align: left;
	background-image: url("http://compellingcree.com/wp-content/uploads/2017/02/paper25.jpg");
	background-size: cover;
}

#hero {
	background:url(http://compellingcree.com/wp-content/uploads/2017/02/artistglasses1.jpg) 
	center top no-repeat #178cb5;
	background-size:cover;
	color:#fff;
	margin:0
}
.box {
	
	color: rgba(0,0,0,.65);
	
	align-content: left;
}

img {
	padding: 0px
}
h1 {
	font: "Times New Roman";
}

h2 {
	font: Arial;
}





