@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,800|Lato');

h1 {
	font-family: 'Arima Madurai', cursive;
	font-weight: 900;
	font-size: 55px;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 25px;
	line-height: 1.5em;
}

#banner {
	width: 100%;

  	background-size: contain;
 
}

#makeyour, #box {
	height: 600px;
	width: 100%;
	
	text-align: center;
	padding: 5em;
	display: inline-block;
	border: 2px solid transparent;
	margin: 5em;
	color: #000;
  	

}






