#emphasis {
	font-style: italic;
}

body {
	color: rgba(0,0,0,.7);
	text-align: left;
	background-image: url("http://compellingcree.com/wp-content/uploads/2017/02/paper25.jpg");
	background-size: cover;
}
#box {
	background: #fff;
	align-content: center;
}

img {
	padding: 0px
}
h1 {
	font: "Times New Roman";
}

h2 {
	font: Arial;
}

div {
	height: 549px;
	width: 1195px;
	border: 2px solid rgba(0,0,0,.2);
	display: inline-block;
	margin: 20px;
	margin-top: 20px;

}

