#emphasis {
	font-style: italic;
}

body {
	color: white;
	text-align: center;
	background: url("images/landscape-wood-vertical-white-planks-2-72dpi.jpg");
	background-size: cover;
}
#box {
	background: #000;
	align-content: center;
}

img {
	padding: 10px
}
h1 {
	font: "Times New Roman";
}

h2 {
	font: Arial;
}

div {
	height: 1000px;
	width:1000px;
	border: 2px solid rgba(0,0,0,.2);
	display: inline-block;
	margin: 20px;
	margin-top: 20px;

}

