@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,800|Lato');

h1 {
	font-family: 'Arima Madurai', cursive;

}

p {
	font-family: 'Lato', sans-serif;
}

#banner {
	width: 100%;

  	background-size: contain;
 
}

#makeyour, #box {
	height: 600px;
	width: 600px;
	
	align-content: bottom;
	padding: 2em;
	display: inline-block;
	border: 2px solid transparent;
	color: #000;
  	

}

,#makeyour p{
	height: 300px;
	width: 600px;
	text-align: center bottom;
	
	padding-top: 24em;
	padding: 2em;
	display: inline-block;
	border: 2px solid transparent;
	color: #000;
  	

}




